
.contenantProfil{
    display: flex;
     flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
    
    height: 100%;
}
.profil{
    text-align: center;
    margin: 5rem;
}
.profil2{
    /* text-align: center;/ */
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    width: 50%;
    justify-content: center;
    align-items: center;
    
    
}