<div class="imgNav">

     
  <i id="cloud1"  >art</i>

  <i id="cloud2" class="colorRed">art</i>

  <i id="cloud3" class="colorBlue">peinture</i>

  <i id="cloud4" class="colorGreen">vision</i>

  <i id="cloud5" class="colorYellow">digital</i>

  {# <i id="cloud6" class="colorBlue">image</i> #}
 
    
 
      
</div>

<div class="response">

     
  <i id="cloud13" class="colorRed">art</i>

  <i id="cloud14" class="colorRed">art</i>

  <i id="cloud15" class="colorBlue">peinture</i>

  <i id="cloud16" class="colorGreen">vision</i>

  <i id="cloud17" class="colorYellow">digital</i>

  <i id="cloud18" class="colorBlue">image</i>
 
  
 
      
</div>