<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}facundo peinture{% endblock %}</title>
        <meta content="facundo varas peinture et art digital est un site de e-commerce.decouvrir de nouvelles oeuvres artistiques.ici c'est de l'art ART ! paysage urbain,portrait, social et histoire, c'est une vision d'un artiste. c'est un travaille avec la photographie, c'est un melange de couleurs, d'imagination, une balade mentale, une histoire de creation picturale et numérique. C'est un travail sur toile, sur aluminium, sur papier photo, dimention aux choix.Facundo Varas fait du street art.">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{# //  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> #}
 <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>          
            {# <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> #}
  

        {% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
 
<link rel="preconect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://css.gg/instagram.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lexend+Deca:wght@300&family=Open+Sans:wght@300&family=Overpass:wght@100&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
           
 
        {% endblock %}
       
    </head>
    <body>
     {% include "nav.html.twig" %}
   


            
 
      
   


        {% block body %}{% endblock %}
 {% block javascripts %}
        
        <script src="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js">
            {{ encore_entry_script_tags('app') }}

           
        
           
           
          
        {% endblock %}
  {% include "footer.html.twig" %}

    </body>
</html>
