<div class="footer">

<div class="menuFooter">
<a href="{{path('app_form_contact')}}" class="buton"><span>contact</span></a>
<a href="https://www.instagram.com/cundo84/" target="_blank" class="buton"><span><i class="gg-instagram"></i></span></a>
<a href="{{path('mention_legal')}} "class="buton" ><span>mention légal</span></a>
</div>



</div>