 
 
 <p class="clic" data-toggle="modalNav" data-target="#navBack">backOffice</p>

<div class="menu_burger" id="navBack">


       <div class="modal-close" id="close" >
            <a href=""class="btn btn-close" role="buttom" data-dismiss="filter" ></a>
       </div>

            <a href="{{ path('app_admin_oeuvre_index') }}" >Gestion des oeuvres</a>

            <a  href="">Gestion des catégories</a>

            <a  href="{{path('app_admin_matiere_index' )}}">Gestion des matières</a>
</div>


 

           
          


 